<a href="https://colab.research.google.com/github/GilbertoRocha/Estudos/blob/master/DataScience/FormacaoCientistaDadosPythoneR/Python/Amostra_sistematica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
from sklearn import datasets
from math import ceil

In [0]:
# define os parametros
populacao = 150

# quantos serão selecionados
amostra = 15

# define o intervalo sistemico (arredondando para cima)
k = ceil(populacao / amostra)

# define a aleatoriedade, ou seja, o ponto inicial da selecao usando um intervalo entre 1 e k (intervalo sistemico)
# low = valor inicial randomico
# high = valor maximo randomico
# size = quantidade de numeros randomicos que serão gerados
r = np.random.randint(low = 1, high = k + 1, size = 1)

# extrai o numero gerado
acumulador = r[0]

# cria uma lista com os valores que serão sorteados
sorteados = []

# preenche a lista
for i in range(amostra):
  sorteados.append(acumulador)
  acumulador += k

In [0]:
# monta a base de dados
iris = datasets.load_iris()
base = pd.DataFrame(data = iris.data, columns=iris.feature_names)
base['target'] = iris['target']

# pega somente os sorteados
base_final = base.loc[sorteados]

In [15]:
base_final.head(10)

    sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
5                 5.4               3.9  ...               0.4       0
15                5.7               4.4  ...               0.4       0
25                5.0               3.0  ...               0.2       0
35                5.0               3.2  ...               0.2       0
45                4.8               3.0  ...               0.3       0
55                5.7               2.8  ...               1.3       1
65                6.7               3.1  ...               1.4       1
75                6.6               3.0  ...               1.4       1
85                6.0               3.4  ...               1.6       1
95                5.7               3.0  ...               1.2       1

[10 rows x 5 columns]