<a href="https://colab.research.google.com/github/GilbertoRocha/Estudos/blob/master/DataScience/FormacaoCientistaDadosPythoneR/Python/Amostragem_Simples.ipynbAmostragem_Simples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from sklearn import datasets

In [0]:
# carrega a base do sklearn
iris = datasets.load_iris()

# converte para pandas
base = pd.DataFrame(iris['data'], columns=iris['feature_names'])
base['target'] = iris['target']

In [3]:
base.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                5.1               3.5  ...               0.2       0
1                4.9               3.0  ...               0.2       0
2                4.7               3.2  ...               0.2       0
3                4.6               3.1  ...               0.2       0
4                5.0               3.6  ...               0.2       0

[5 rows x 5 columns]

In [4]:
# Gera os numeros 0 ou 1 de forma aleatoria, para usar na seleção do dataset
# a = determina quais numeros gerar (0 e 1)
# size = determina a quantidade de elementos
# replace = determina se quando gerar um numero, se pode gerar ele novamente
# p = probabilidade de geração de cada elemento, como serão iguais, então vai 0.5 para cada (50%)
amostra = np.random.choice(a = [0, 1], size = 150, replace = True, p = [0.5, 0.5])
print(amostra)

[0 0 1 1 1 0 0 0 1 0 0 0 0 0 1 0 1 0 1 1 1 0 1 1 1 1 1 0 1 0 0 1 0 1 0 1 1
 0 0 0 1 1 0 1 0 1 1 0 0 1 0 1 0 1 1 1 0 0 1 1 1 1 0 0 0 1 1 1 1 1 1 1 1 0
 0 1 1 1 1 1 1 1 0 1 0 0 1 0 0 0 1 0 1 0 1 0 0 1 1 0 0 1 1 1 1 1 0 0 0 1 1
 0 0 1 1 0 1 1 1 0 0 0 1 1 0 1 0 0 1 0 0 1 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 0
 1 1]

In [9]:
print('Total: ' + str(len(amostra)) + ' - qtd 0: ' + str(len(amostra[amostra==0])) + ' - qtd 1: ' + str(len(amostra[amostra==1])))

Total: 150 - qtd 0: 73 - qtd 1: 77

In [12]:
print(base[amostra == 1])

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
2                  4.7               3.2  ...               0.2       0
3                  4.6               3.1  ...               0.2       0
4                  5.0               3.6  ...               0.2       0
8                  4.4               2.9  ...               0.2       0
14                 5.8               4.0  ...               0.2       0
..                 ...               ...  ...               ...     ...
135                7.7               3.0  ...               2.3       2
136                6.3               3.4  ...               2.4       2
145                6.7               3.0  ...               2.3       2
148                6.2               3.4  ...               2.3       2
149                5.9               3.0  ...               1.8       2

[77 rows x 5 columns]